
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    padding: 30px;
}
h1 {
    color: #0077cc;
}
input {
    padding: 10px;
    font-size: 16px;
    width: 60%;
}
button {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.add-btn {
    background-color: #0077cc;
    color: white;
}
.delete-btn {
    background: #ff924a;
    background: linear-gradient(148deg, rgba(255, 146, 74, 1) 17%, rgba(224, 27, 13, 1) 42%, rgba(247, 129, 10, 1) 100%);
    color: white;
}
.change-btn{
    background: #2A7B9B;
    background: linear-gradient(148deg, rgba(42, 123, 155, 1) 0%, rgba(13, 224, 101, 1) 42%, rgba(13, 212, 172, 1) 100%);
    color: white;
}
.color-btn{
    background: #2A7B9B;
    background: linear-gradient(148deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 61%, rgba(212, 212, 13, 1) 100%);
    color: white;

}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li span {
  flex: 1; 
  text-align: left;
}

li button {
  margin-left: 5px;
}
img {
    width: 60px;
    height: auto;
    border-radius: 5px;
    object-fit:cover;
}